ALTER TABLE public.configuracion_ia_global ADD COLUMN IF NOT EXISTS app_basico_url text DEFAULT 'https://basic.sonorusapp.com/'; ALTER TABLE public.configuracion_ia_global ADD COLUMN IF NOT EXISTS app_basico_email text; ALTER TABLE public.configuracion_ia_global ADD COLUMN IF NOT EXISTS app_basico_password text; ALTER TABLE public.configuracion_ia_global ADD COLUMN IF NOT EXISTS app_premium_url text DEFAULT 'https://premium.sonorusapp.com/'; ALTER TABLE public.configuracion_ia_global ADD COLUMN IF NOT EXISTS app_premium_email text; ALTER TABLE public.configuracion_ia_global ADD COLUMN IF NOT EXISTS app_premium_password text;
